body{
    background-color: hsl(0, 0%, 98%);
    margin: 0px;
    min-height: 100vh;
    line-height: 1;
    color: hsl(0, 0%, 8%);
    font-weight:lighter;
    font-family: 'Epilogue';
    font-size: 0.9rem;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: rgb(22, 22, 22);
}

a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

@media(min-width: 320px) and (max-width: 480px){
    .edit-modal{
        text-align: center;
        background-color: hsl(0, 0%, 98%);
        width: 90%;
        min-height: 100vh;
        margin: 1rem auto 0;
    }

    .edit-modal textarea{
        margin-bottom: 1rem;
        border: 1px rgb(139, 139, 139) solid;
        font-size: 1rem;
        font-family: 'Calibri';
        line-height: 1rem;
        text-align: justify;
        width: 100%;
        background-color: hsl(0, 0%, 98%);
        border-radius: 0.3rem;
    }

    .edit-modal .image-upload{
        margin-bottom: 1rem;
        border: 1px rgb(139, 139, 139) solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
        border-radius: 0.3rem;
        font-family: 'Calibri';
        font-size: 0.9rem;
    }

    .edit-modal button{
        border: 1px red solid;
        width: 100%;
        padding: 0.7rem 0.8rem;
        margin-bottom: 1.1rem;
        outline: 0;
        border: none;
        color: hsl(0, 0%, 98%);
        font-family: 'Calibri';
        border-radius: 0.3rem;
        font-size: 1rem;
    }

    .edit-modal a{
        color: hsl(0, 0%, 98%)
    }

    .update{
        background-color: rgb(0, 170, 0);
    }
    
    .cancel {
        background-color: rgb(190, 0, 32);
    }

    .images img{
        width: 4rem;
        height: 4rem;
    }

    h4{
        font-size: 0.9rem;
        font-weight: bold;
        /* margin-left: 0.6rem; */
        text-align: left;
        font-family: 'Calibri';
    }

    .images{
        border: 1px rgb(139, 139, 139) solid;
        position: relative;
        height: 7.2rem;
        overflow: auto;
        margin-bottom: 1rem;
        padding: 0.5rem 0;
        border-radius: 0.3rem;
    }

    .images .image-delete{
        display: flex;
        align-items: center;
        height: 4rem;
    }

    .form-check-inline{
        display: flex;
        justify-content: space-between;
        height: 1rem;
        width: 35%;
        margin-left: 0.5rem;
    }


    .image-upload label{
        width: 2.3rem;
        height: 2.3rem;
    }

    .image-upload label svg{
        margin-top: 0.2rem;
    }


    .image-upload input{
        display: none;
    }

    
    #navbar{
        display: flex;
        justify-content: space-between;
        background-color: #4267B2;
        padding: 0.8rem 0.8rem;
        align-items: center;
    }

    .logo span{
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: roboto;
        color: aliceblue;
    }

    .nav-links{
        display: none;
    }

    .desktop-nav{
        display: none;
    }

    
}
