<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/editprofile.css">

    <div class="edit-modal">
        <h1>Edit Profile</h1>
        <form action="/profile/<%=user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <label class="form-label" for="firstname">Firstname</label>
            <input class="form-control" type="text" name="user[firstname]" id="firstname" value="<%=user.firstname%>" required>
            
            <label class="form-label" for="lastname">Lastname</label>
            <input class="form-control" type="text" name="user[lastname]" id="lastname" value="<%=user.lastname%>" required>
            
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="user[username]" id="username" value="<%=user.username%>" required>

            <button class="update">Update profile</button>
            </form>

            <button class="cancel"><a href="/profile">Cancel</a></button>
    <div>